/CheckClinicUI/.vs
/CheckClinicUI/bin
/CheckClinicUI/obj
/CheckClinicUI/packages
/DataResolver/bin
/DataResolver/obj
/Model/bin
/Model/obj
/CheckClinicUINew/bin
/CheckClinicUINew/obj
/DataParser/bin
/DataParser/obj
/packages
/.vs
/DataResolver.Tests/bin
/DataResolver.Tests/obj