/CheckClinicUI/.vs
/CheckClinicUI/bin
/CheckClinicUI/obj
/CheckClinicUI/packages
/DataResolver/bin
/DataResolver/obj
/Model/bin
/Model/obj
/CheckClinicUINew/bin
/CheckClinicUINew/obj
/DataParser/bin
/DataParser/obj
/packages
/.vs
/DataResolver.Tests/bin
/DataResolver.Tests/obj
/Complex.Tests/bin
/Complex.Tests/obj
/DataRequest/bin
/DataRequest/obj
/CheckClinicConsole/bin
/CheckClinicConsole/obj
/Detector/bin
/Detector/obj
/MailSender/bin
/MailSender/obj
/Interfaces/bin
/Interfaces/obj
/CacheGenerator/bin
/CacheGenerator/obj
/CheckClinicBot/bin
/CheckClinicBot/obj